#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

MIX_HOME=/Users/totto2727/proj/monorepo/.devbox/virtenv/elixir/mix
HEX_HOME=/Users/totto2727/proj/monorepo/.devbox/virtenv/elixir/hex

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details
