name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - run: ni
        env:
          CLOUDSMITH_TOKEN: ${{ secrets.CLOUDSMITH_TOKEN }}
      - run: turbo check build test
